h1 {
    color: #003300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2{
    color: #004d00;
    margin-bottom: 30px;
}
.align{
    text-align: center;
}
.center {
  margin: 10px auto 10px auto;
  width: 70%;
  border: 3px solid green;
  padding: 10px 10px 10px 10px;
}
.button{
    border: 3px solid green;
    margin-top: 30px;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
.column_span{
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}