{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
Hello, write your home coordinates!
<form  method="post">
    {%  csrf_token  %}
    {{ form.as_p }}
    <button type="submit"> Search</button>
</form>
<h1>{{ latitude }} {{ longitude }}</h1>
{% for coordinate in results %}
        <li>{{ coordinate.name }}: {{ coordinate.lat}}, {{ coordinate.lon}} {{ coordinate.distance | floatformat:2 }}km</li>
{% endfor %}
<li> HOME: {{latitude}}, {{ longitude }} {{ distance_to_home | floatformat:2 }}km</li>
<h2>Beer types</h2>
{% for beer in beers %}
        <li>{{ beer }}</li>
{% endfor %}
<h3>{{ execution_time }} seconds</h3>
<h2>Total distance: {{ total_distance | floatformat:2 }} km</h2>